services:
  development:
    container_name: posts
    volumes:
      - .:/app
      - /app/.venv
    build:
      context: .
      dockerfile: Dockerfile
      target: development  # Changed from production to development
    command: ["pymon", "--watch", "src/**/*.py", "--watch", "content/*.md", "src/server.py"]
    ports:
      - "50051:50051"
    environment:
      DEBUG: True
      PORT: 50051
    depends_on:
      grpcui:
        condition: service_started
    tty: true
    stdin_open: true
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - blog_network
  grpcui:
    image: fullstorydev/grpcui:latest
    ports:
      - "8081:8081"
    command: -bind=0.0.0.0 -port=8081 -connect-fail-fast=false -plaintext posts:50051
    networks:
      - blog_network

networks:
  blog_network:
    name: blog_network
