name: Buf CI
on:
  push:
    paths:
    - 'proto/**'
    - '.github/workflows/proto.yaml'

permissions:
  contents: read
  pull-requests: write
jobs:
  buf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: proto
          format: true
          lint: true
          breaking: true
          breaking_against: 'https://github.com/${{ github.repository }}.git#branch=main,subdir=proto'
          push: false
